.header {
  width: 100%;
  height: 800px;
  background: url(../../../public/img/bg-header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15px;

  .container {
  }
}
