.navBar {
  padding: 25px;
  width: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .container {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    width: 114px;
    height: 30px;
  }

  .leng {
    display: flex;
    column-gap: 15px;
    color: #003a74;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
