.partners {
  width: 100%;
  padding: 80px 0;

  @media (max-width: 900px) {
    padding: 40px 0;
  }
  .container {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    @media (max-width: 768px) {
      padding: 0 25px;
    }
  }

  .partnBg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 619px;
    width: 100%;
    background: url(../../../public/img/partners/partners.svg);
    background-size: cover;

    @media (max-width: 900px) {
      align-items: flex-start;
      background: url(../../../public/img/partners//partnersMobile.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .group {
    position: absolute;
    left: -459px;
    top: 569px;
    transform: rotate(90deg);
  }
}
